<div class="page page--centered">
  <% if signed_in? %>
    <p>You're signed in as <%= current_user.email %></p>

    <%= button_to 'Sign in ANYWAY', user_google_oauth2_omniauth_authorize_path %>
  <% else %>
    <%= button_to 'Sign in with Google', user_google_oauth2_omniauth_authorize_path %>
  <% end %>
</div>
