<!DOCTYPE html>
<html>
  <head>
    <title>WheresMyCar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# TODO Uncomment this once we get some webpacker stuff %>
    <%#= stylesheet_link_tag 'application', media: 'all' %>
    <%#= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
